<header id="ib5i">
    <div id="i6ku">
        <div id="iide">Contract data analysis</div>
        <nav><a href="/" id="irfoc">Contracts</a><a href="/yelt" id="ixkop">Yelt</a></nav>
    </div>
</header>
<main id="i4zlo">
    <div id="ikjvk">
        <q-table id="isb4" class="sticky-header" row-key="__id" :dense="true" :data="data_table_page.data" :columns="data_table_page.columns" title="Contract Data" :filter="filter" :virtual-scroll="true" :rows-per-page-options="[0]"><template v-slot:top-right="">
                <q-input debounce="300" v-model="filter" placeholder="Search" dense="" id="iay5x"><template v-slot:append="">
                        <q-icon name="search" id="iy1zu"></q-icon>
                    </template></q-input>
            </template></q-table>
    </div>
    <div id="i46c4">
        <q-table id="it9n-2-2" class="sticky-header" :dense="true" :data="selected_group_table.data" :columns="selected_group_table.columns" :bordered="true" title="Grouped Data by Column"><template v-slot:top-right="">
                <div id="ifl15">
                    <q-select id="ig55-2-2" label="Group by" v-model="group_by" :options="columns"></q-select>
                    <q-select id="ig55-3" label="Group select" v-model="group_select" :options="group_keys"></q-select>
                </div>
            </template></q-table>
    </div>
    <div id="ipj49">
        <q-table id="isb4-2" class="sticky-header" row-key="__id" :dense="true" :data="aggregated_data.data" :columns="aggregated_data.columns" title="Aggregated Data by Column" :filter="filter_agg" :virtual-scroll="true" :rows-per-page-options="[0]"><template v-slot:top-right="">
                <div id="i0f64">
                    <q-select id="ig55" label="Aggregate by" v-model="selected_metrics" :multiple="true" :options="metrics_options" :use-chips="true" dense=""></q-select>
                    <q-select id="ig55-2" label="Target" v-model="target" :options="metrics_options" dense=""></q-select>
                    <q-input debounce="300" v-model="filter_agg" placeholder="Search" dense="" id="iip03"><template v-slot:append="">
                            <q-icon name="search" id="ipvwl"></q-icon>
                        </template></q-input>
                </div>
            </template></q-table>
    </div>
    <div id="i7elu">
        <h4 id="iqquo">Premium per Business Entity - Unit - Segment</h4>
        <plotly id="ia8fr" data="W3siZ2J0eXBlIjoiVHJlZW1hcCIsInR5cGUiOiJ0cmVlbWFwIiwibGFiZWxzIjoiJF97dG1hcF9sYWJlbHN9IiwicGFyZW50cyI6IiRfe3RtYXBfcGFyZW50c30iLCJ2YWx1ZXMiOiIkX3t0bWFwX3ZhbHVlc30iLCJuYW1lIjoiVHJhY2UifV0=" config="e30=" layout="eyJoZWlnaHQiOiI3MDAifQ=="></plotly>
    </div>
</main>